<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">찬우의 쇼핑몰</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next={{ request.path }}">로그아웃</a></li>
        {% else %}
        <li><a href="{% url 'login' %}?next={{ request.path }}">로그인</a></li>
        <li><a href="{% url 'register' %}?next={{ request.path }}">회원가입</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
