{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{{ category.name }} <a href="{% url 'mall:category_update' category.pk %}"><small>수정하기</small></a></h1>
  <ul>
    {% for shop in category.shops.all %}
    <li><a href="{{ shop.get_absolute_url }}">{{ shop.name }}</a> <a href="{% url 'mall:shop_update' shop.pk %}"><small>수정하기</small></a></li>
    {% empty %}
    <div>매장이 없습니다.</div>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
  <div><a href="{% url 'mall:shop_create' %}">매장 등록하기</a></div>
  {% endif %}
  <div><a href="{% url 'mall:index' %}">처음으로 돌아가기</a></div>
</div>
{% endblock %}
